name: 'Upload'

on:
  push:
    tags:
      - '*'

jobs:
  Build_Upload:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - name: Delete dangling image package
      uses: actions/delete-package-versions@v4
      with: 
        package-name: 'stm32-builder'
        package-type: 'container'
        min-versions-to-keep: 0
        delete-only-untagged-versions: 'true'

    - name: Checkout project
      uses: actions/checkout@v3
      
    - name: Docker meta ubuntu
      id: meta-ubuntu
      uses: docker/metadata-action@v4
      with:
        images: |
          ${{ secrets.DOCKERHUB_USERNAME }}/stm32-builder
          ${{ vars.REGISTRY }}/stm32-builder
        tags: type=ref,event=tag
        flavor: prefix=ubuntu-,onlatest=true

    - name: Docker meta alpine
      id: meta-alpine
      uses: docker/metadata-action@v4
      with:
        images: |
          ${{ secrets.DOCKERHUB_USERNAME }}/stm32-builder
          ${{ vars.REGISTRY }}/stm32-builder
        tags: type=ref,event=tag
        flavor: prefix=alpine-,onlatest=true

    - name: Docker meta arch
      id: meta-arch
      uses: docker/metadata-action@v4
      with:
        images: |
          ${{ secrets.DOCKERHUB_USERNAME }}/stm32-builder
          ${{ vars.REGISTRY }}/stm32-builder
        tags: type=ref,event=tag
        flavor: prefix=arch-,onlatest=true


    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Log in to Github Container Registry
      uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
      with:
        registry: ${{ vars.REGISTRY }}
        username: ${{ secrets.USER_GITHUB_PERSONAL }}
        password: ${{ secrets.TOKEN_GITHUB_PERSONAL }}

    - name: Set QEMU
      uses: docker/setup-qemu-action@v2

    - name: Set Buildx
      uses: docker/setup-buildx-action@v2

    - name: Build and Upload for Ubuntu
      id: output-ubuntu
      uses: docker/build-push-action@v4
      with:
        context: .
        platforms: linux/amd64,linux/arm64/v8
        file: ${{ github.workspace }}/Dockerfile.ubuntu
        push: true
        tags: ${{ steps.meta-ubuntu.outputs.tags }}
        labels: ${{ steps.meta-ubuntu.outputs.labels }}

    - name: Build and Upload for Alpine
      id: output-alpine
      uses: docker/build-push-action@v4
      with:
        context: .
        platforms: linux/amd64,linux/arm64/v8
        file: ${{ github.workspace }}/Dockerfile.alpine
        push: true
        tags: ${{ steps.meta-alpine.outputs.tags }}
        labels: ${{ steps.meta-alpine.outputs.labels }}

    - name: Build and Upload for Arch
      id: output-arch
      uses: docker/build-push-action@v4
      with:
        context: .
        platforms: linux/amd64
        file: ${{ github.workspace }}/Dockerfile.arch
        push: true
        tags: ${{ steps.meta-arch.outputs.tags }}
        labels: ${{ steps.meta-arch.outputs.labels }}