name: 'Upload'

on:
  push:
    tags:
      - '*'

jobs:
  Build_Upload:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      packages: write

    strategy:
      matrix:
        files: [ubuntu, debian, alpine, arch]

    steps:
    - name: Checkout Project
      uses: actions/checkout@v4
      
    - name: Docker Meta
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: |
          ${{ secrets.USERNAME_DOCKERHUB }}/stm32-builder
          ghcr.io/${{ github.actor }}/stm32-builder
        tags: type=ref,event=tag
        flavor: prefix=${{ matrix.files }}-,onlatest=true

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.USERNAME_DOCKERHUB }}
        password: ${{ secrets.TOKEN_DOCKERHUB }}

    - name: Log in to Github Container Registry
      uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.TOKEN_GITHUB }}

    - uses: actions/delete-package-versions@v5
      with: 
        package-name: 'stm32-builder'
        package-type: 'container'
        min-versions-to-keep: 0
        delete-only-untagged-versions: 'false'

    - name: Set QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and Upload AMD64 and ARM64
      if: ${{ matrix.files != 'arch' && matrix.files != 'alpine' }}
      uses: docker/build-push-action@v4
      with:
        context: .
        platforms: linux/amd64,linux/arm64
        file: ${{ github.workspace }}/Dockerfile.${{ matrix.files }}
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
      
    - name: Build and Upload AMD64
      if: ${{ matrix.files == 'arch' || matrix.files == 'alpine' }}
      uses: docker/build-push-action@v4
      with:
        context: .
        platforms: linux/amd64
        file: ${{ github.workspace }}/Dockerfile.${{ matrix.files }}
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}